/*html.home,body.home {
  height: 100%;
}*/

body {
  font-family: "futura", "Trebuchet MS", Arial, sans-serif !important;
  font-weight: 100;
  color: #404040;
  margin: 0;
  padding: 0;
  background: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  cursor: default;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "futura", "Trebuchet MS", Arial, sans-serif !important;
  font-weight: 100;
}

p {
  line-height: 1.5;
  margin-bottom: 15px;
}

h1 {
  font-size: 52px;
  margin-bottom: 20px;
}

h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

h3 {
  font-size: 21px;
  margin-bottom: 10px;
}

.sectionLv1 {
  padding: 2%;
}

/* -----------------------------------------------------------------------------------------------

desc Section

----------------------------------------------------------------------------------------------- */

section.desc {
  background: #690;
  color: #fff;
  overflow: hidden;
  text-align: center;
  height: 100%;
  position: relative;
}

section.desc .wrapper {
  position: absolute;
  top: 45%;
  width: 100%;
}

section.desc h1 {
  text-align: center;
  font-size: 120px;
  font-weight: 100;
  margin: -50px 0 20px;
  color: #fff;
  -webkit-transform: scale(2);
  -moz-transform: scale(2);
  transform: scale(2);
  opacity: 0;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  transition: all 500ms ease;
}

section.desc i.scrollHint {
  position: absolute;
  bottom: 10px;
  font-size: 50px;
  width: 100%;
  left: 0;
  -webkit-animation: scrollHint 1s infinite  normal ease-out;
  -moz-animation: scrollHint 1s infinite  normal ease-out;
  animation: scrollHint 1s infinite  normal ease-out;
  cursor: pointer;
}
@-webkit-keyframes scrollHint {
  0% {
    bottom: 10px;
  }
  50% {
    bottom: 20px;
  }
  100% {
    bottom: 10px;
  }
}
@keyframes scrollHint {
  0% {
    bottom: 10px;
  }
  50% {
    bottom: 20px;
  }
  100% {
    bottom: 10px;
  }
}

/* -----------------------------------------------------------------------------------------------

career Section

----------------------------------------------------------------------------------------------- */

section.career,
section.skills,
section.etc,
section.footer {
  padding: 50px 0;
  /*background: #f3f3f3;*/
}

section.career h2,
section.skills h2,
section.etc h2 {
  text-align: center;
  margin-bottom: 50px;
  color: #F56991;
  -webkit-transform: scale(2);
  -moz-transform: scale(2);
  transform: scale(2);
  opacity: 0;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  transition: all 500ms ease;
}

section.desc.onScreen h1,
section.career.onScreen h2,
section.skills.onScreen h2,
section.etc.onScreen h2 {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

.timeline {
  list-style: none;
  background: #fff;
}
.timeline > li {
  margin-bottom: 60px;
  border-bottom: 2px solid #f3f3f3;
  text-align: center;
}

/* for Desktop */
@media ( min-width : 640px ){
  .timeline > li {
    overflow: hidden;
    margin: 0;
    position: relative;
  }
  .timeline-date {
    width: 110px;
    float: left;
    margin-top: 20px;
  }
  .timeline-content {
    width: 75%;
    float: left;
    border-left: 3px #e5e5d1 solid;
    padding-left: 30px;
  }
  .timeline-content h3 {
    margin-top: 2%;
  }
  .timeline-content:before {
    content: '';
    width: 12px;
    height: 12px;
    background: #6fc173;
    position: absolute;
    left: 106px;
    top: 24px;
    border-radius: 100%;
  }
}

/* -----------------------------------------------------------------------------------------------

end Section

----------------------------------------------------------------------------------------------- */

.content {
  text-align: center;
}

.person {
  box-sizing: border-box;
  margin-bottom: 2em;
  padding: 0.5em;
  overflow: hidden;
  width: 30%;
  margin: 0 auto;
}

img {
   float: left;
   padding: 2px;
   -webkit-box-shadow: 0 0 0 1px #b0b0b0;
   box-shadow: 0 0 0 1px #b0b0b0;
}

.footer {
  text-align: center;
}


/* モーダル */
.md-perspective,
.md-perspective body {
  height: 100%;
  overflow: hidden;
}

.md-perspective body  {
  background: #222;
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
  perspective: 600px;
}

.md-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  max-width: 800px;
  min-width: 640px;
  height: auto;
  z-index: 100001;
  visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.md-show {
  visibility: visible;
}

/*.md-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  visibility: hidden;
  top: 0;
  left: 0;
  z-index: 100000;
  opacity: 0;
  background: rgba(10,10,10,0.8);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}

.md-show ~ .md-overlay {
  opacity: 1;
  visibility: visible;
}*/

/* モーダルコンテンツ */
.md-content {
  color: #666;
  background: #fff;
  position: relative;
  border-radius: 3px;
  margin: 0 auto;
}

.md-content h3 {
  margin: 0;
  padding: 0.4em;
  text-align: center;
  font-size: 1.4em;
  font-weight: 300;
  opacity: 0.8;
  background: rgba(0,0,0,0.1);
  border-radius: 3px 3px 0 0;
}

.md-footer {
  padding: 4%;
  background: rgba(0,0,0,0.1);
  clear: both;
  /*margin-top: 8%;*/
}

.md-footer ul {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

div.md-footer ul li {
  display: inline;
  padding: 1%;
  font-size: 100%;
  line-height: normal;
  color: #666;
  text-align: inherit;
  width: 100%;
  vertical-align: inherit;
}

.md-content button.md-close {
  display: inline-block;
  margin: 0 auto;
}

/* エフェクト */
.md-effect .md-content {
  -webkit-transform: translateX(20%);
  -moz-transform: translateX(20%);
  -ms-transform: translateX(20%);
  transform: translateX(20%);
  opacity: 0;
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
  -moz-transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
  transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}

.md-show.md-effect .md-content {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}

button.md-trigger {
  cursor: pointer;
  display: inline-block;
}

button.md-trigger {
  float: right;
  margin-top: 22px;
}

.md-trigger,
.md-close {
  cursor: pointer;
}